*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
 

}
body {
  background: black; /* Ensure background is transparent to allow video */
  color: white;
  overflow: hidden;
  overflow-y: scroll; /* Allow scrolling but keep video fixed *//* Prevent horizontal scroll */
}