.skillsContainer {
  border-bottom: 1px solid #1f2937;
  padding-bottom: 96px;
}

.skillsTag {
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 24px;
  font-weight: bold; /* Use numeric values for font-weight */
}

.skillsContainerList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.skills {
  border-radius: 16px;
  border-width: 4px;
  border-color: #1f2937;
  border-style: solid;
  padding: 10px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center the items */
  align-items: center; /* Center the items */
  width: 100px; /* Set a fixed width for the skills box */
  height: 120px; /* Adjusted height to fit the tag below the icon */
}

.react-icons {
  font-size: 6rem; /* Increase the icon size */
  color: #22d3ee; /* Equivalent to text-cyan-400 */
}

.tag {
  margin-top: 8px; /* Add some space between the icon and the tag */
  font-size: 1rem; /* Adjust font size for the tag */
  text-align: center; /* Center the tag text */
}
