.navContainer {
  width: 100vw;
  height: 5rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed; /* Navbar should be fixed to stay at the top */
  top: 0;
  z-index: 5; /* Ensure it's above video and content */
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Optional: Adds a blur effect behind the navbar */
}
/* porfolio logo  */

  .logo{
    position: relative;
    height: 4rem;
    width: 4rem;
    margin-top: 3rem;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    z-index: 6;
   
  }
  /* navList Item    */
.navbarListItem{
 margin: 1rem;
 position: relative;
 cursor: pointer;
 opacity: 0;/* sliding animaion */
 animation:  slideTop 1s ease forwards; /* sliding animaion */
 

}
/* sliding animaion start */
.navbarListItem:nth-child(1) {
  animation-delay: 0.1s; /* Add delay for smooth flow */
}
.navbarListItem:nth-child(2) {
  animation-delay: 0.2s;
}
.navbarListItem:nth-child(3) {
  animation-delay: 0.3s;
}
.navbarListItem:nth-child(4) {
  animation-delay: 0.4s;
}
.navbarListItem:nth-child(5) {
  animation-delay: 0.5s;
}
/* Add delays for more items if needed */

/* sliding animaion end */
.navbarListItem:hover{
  color:#0ef;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #0ef;
}
.ContactButton{
  background-color: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;

}
.Contactlogo{
object-fit: cover;
height: 1rem;
width: 1rem;
margin: 1rem;

}
/* sliding effect   */
@keyframes slideRight {
  0%{
    transform: translateX(-100px);/* Moves up from 100px above */
    opacity: 0;
  }
  100%{
    transform: translateX(0px); /* Moves to its original position */
    opacity: 1;
  }
}
/* sliding animaion */
@keyframes slideTop {
  0%{
    transform: translateY(-100px);/* Moves up from 100px above */
    opacity: 0;
  }
  100%{
    transform: translateY(0px);/* Moves to its original position */
    opacity: 1;
  }
}